@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
*::selection {
  background-color: grey;
  color: var(--main);
  font-weight: 900 !important;
}
html {
  overflow-x: hidden !important;
  background: #000000e1;
}
a {
  text-decoration: none !important;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1d1d1d;
}
::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5b5b5b;
}

.wrapper {
  width: 94vw;
  margin: 0px auto;
}
.title {
  width: 94vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
h1 {
  font-size: 72px;
  white-space: break-all;
  font-family: "Nabla", cursive;
}
.imagesContainer {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
}
.image {
  width: 300px;
  transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  filter: brightness(0.9) saturate(0.95);
}
.image:hover {
  filter: brightness(1.1) saturate(1.05);
  scale: 1.15;
}
.modalImage {
  width: 540px;
}
.modalImageTitle {
}
.modalImageDescription {
}

/* modal */
.modal {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px auto;
  padding: 24px;
  border: 1px solid #4d4d4d;
  background: #121212ee;
  border-radius: 5px;
  transition: 0.154s cubic-bezier(0.23, 1, 0.32, 1);
  text-align: center;
  gap: 15px;
  z-index: 5500;
}
.modalBg {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 150vh;
  transition: 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 5000;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #131313;
  height: 150px;
  gap: 30px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
h6 {
  font-size: 18px;
}

/* mediaQ */
@media (max-width: 1254px) {
  .modalImage {
    width: 540px;
  }
}
@media (max-width: 954px) {
  .modalImage {
    width: 400px;
  }
}
@media (max-width: 540px) {
  .modalImage {
    width: 350px;
  }
  .title {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 62px;
  }
}
@media (max-width: 440px) {
  .modalImage {
    width: 300px;
  }
  .title {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 54px;
  }
}
@media (max-width: 380px) {
  .modalImage {
    width: 260px;
  }
  .title {
    margin-bottom: 10px;
  }
  h1 {
    font-size: 44px;
  }
}
